[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
bcrypt = "*"
mongoengine = "*"
marshmallow = "*"
flask-marshmallow = "*"
flask = "*"
flask-mongoengine-3 = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.13"
